[2015-11-09 22:16] harlantwood opened #1 "CI build matrix & selected repo statistics"
Moving over from: https://github.com/ipfs/infrastructure/issues/25

OK, I'm going to take a stab at a fully client-side build monitor tool that can run from IPFS.

**updated to incorporate jbenet items from a comment below:**

Features:

- [x] makes a simple table, a bit like http://ethereum-buildboard.meteor.com/
- [x] hits the github API and gets a list of all public repos within https://github.

[2015-11-09 22:17] harlantwood commented on #1
We now read all readmes from all repos.  I've added a check / x if readme is present or not; next step is to parse them to look for status badges etc.

[2015-11-09 22:18] harlantwood commented on #1
latest: https://ipfs.io/ipfs/QmTD5wsY5uj8jReARqSdRW2DUyRMAWW9md5oiB6j5vACcX/

backup: http://ipfs.github.io/ci-status/

[2015-11-09 23:25] RichardLitt commented on #1
Doesn't this technically grab the repo name and check against travis, or does this actually parse the README files? If so, can you point me to that?

[2015-11-10 03:44] harlantwood commented on #1
@RichardLitt it does fetch the full text of the readme's -- not parsing them yet, but just about to start :smile:

the `repo.readmeText` is the animal in question, eg: https://github.com/ipfs/ci-status/blob/21eedb32c78d0cee6ed035bf43b80e72f2211a3b/src/index.coffee#L46

[2015-11-10 03:59] jbenet commented on #1
@harlantwood may be good to have multiple columns for readme:
- has circle-ci badge
- has travis-ci badge
- has contribute to IPFS badge
- has ... (all the badges)
- is > 500 chars in length

Also would be good:
- # of open issues / # of total issues (e.g. 5/12)
- # of open PRs / # of total issues
- make repo name a link to repo
- if repo not enabled in ci, add direct link to enable? (makes it fas

[2015-11-10 04:46] harlantwood commented on #1
@jbenet great list, thanks.

@RichardLitt we are now actually parsing the readme and looking for certain buttons: https://github.com/ipfs/ci-status/blob/515a2bbe1e289fb864e07a99d7fdb6477f8c987e/src/index.coffee#L63

I added some datatable styling as well, to make it more readable.

Latest: http://ipfs.github.io/ci-status/

[2015-11-10 04:57] harlantwood opened #2 "Set up circle CI"
Can someone with admin access set up Circle for this repo?

Go to https://circleci.com/gh/ipfs/ci-status/edit and click `Follow`.

@RichardLitt @jbenet @whyrusleeping

[2015-11-10 04:58] harlantwood opened #3 "Add loading spinner or animation"

[2015-11-10 05:09] harlantwood commented on #1
@jbenet I moved your ideas into the checklist at the top: https://github.com/ipfs/ci-status/issues/1#issue-115979968

[2015-11-10 16:38] RichardLitt commented on #2
I don't have access, or I would! :)

[2015-11-10 19:08] harlantwood commented on #2
Thanks anyway Richard :)

@jbenet or @whyrusleeping actually can you make me admin on this repo, at least for now?  I want to set up greenkeeper as well.  Not sure if Travis needs admin.  Etc.

[2015-11-10 19:10] harlantwood opened #4 "Speed up table loading"
We currently wait for all information to be retrieved before building the table.  We could build it first, and populate items as they become available (eg readme exists, badges, etc).

[2015-11-10 19:20] dignifiedquire commented on #2
greenkeeper all the repos! :+1:

[2015-11-10 22:03] harlantwood commented on #2
Yeah, I'm loving it :)

[2015-11-11 03:47] harlantwood commented on #1
looking awesome : )  http://ipfs.github.io/ci-status/  -- still things left to do, but wanted to share : )

[2015-11-11 09:15] dignifiedquire commented on #1
@harlantwood blank screen in chrome atm :(

[2015-11-11 09:16] harlantwood opened #5 "github api throttles requests"
github api throttles requests with or without a username/password...

solution may be to use oauth?  but may have the same issues with that.

could get the readme.md from the raw url, instead of API, would cut down requests about 30x from current load.

[2015-11-11 09:16] dignifiedquire commented on #1
![screen shot 2015-11-11 at 10 16 01](https://cloud.githubusercontent.com/assets/790842/11087754/3d21868a-885d-11e5-85af-c9b04fc1f2fb.png)

[2015-11-11 09:18] dignifiedquire commented on #5
Maybe update the repo list only on explicit request/every 24h?

[2015-11-11 09:24] harlantwood commented on #1
yeah, thanks, github is throttling api requests... I filed a bug : (  https://github.com/ipfs/ci-status/issues/5

here is a screenshot of the latest in the meantime...

![](https://www.dropbox.com/s/ebdrwr7vzhms7y6/Screenshot%202015-11-11%2001.22.59.png?dl=1)

[2015-11-11 09:38] harlantwood commented on #5
hm, good idea.... and since I want to serve this ultimately from IPFS / IPNS / dnslink... there is no server to cache the repo list... we could of course cache it in IPFS, especially with the recent (or soon) opening of write API... but I can't see how do do this writing to IPFS.  I could write a cache every 24 hours to IPNS, but that implies server/cron/etc, which I'm trying to avoid...  maybe CR

[2015-11-11 09:45] dignifiedquire commented on #5
You could have a deploy script which pulls the repo list down and stores it in a file before you push to github

[2015-11-11 10:06] harlantwood commented on #5
That sounds good... but don't want to have to push to github to update the repo list...

Sounds like some kind of cron would be needed, on CI or a heroku instance ... maybe (notes to self):
- https://github.com/grosser/travis_cron
- https://nightli.es/
- http://tron-ci.herokuapp.com/
- http://traviscron.pythonanywhere.com/

[2015-11-11 11:00] jbenet commented on #1
that looks great! thanks for screenshot

[2015-11-11 21:38] harlantwood commented on #5
I am planning a fallback cascade:
1. Try to fetch the fresh repo list from github api anonymously.  Throttling is per IP address, so this should succeed most of the time, especially if we cut down the API calls from 31 to 1, ~~which is easy~~.
2. Fall back on a repo list that we fetch and save as json at deploy time.  Ideally trigger a nighly build so this list is fairly fresh.

[2015-11-19 06:23] harlantwood commented on #5
More info on rate limiting from https://developer.github.com/v3/#rate-limiting:

[2015-11-19 06:40] harlantwood opened #6 "Server side vs client side build matrix generation"
Comparing client side (current) and server side implementations of the CI Build Matrix:

## Client Side

Assumptions:
- build static HTML/JS/CSS which fetches latest state from the client side
- Use github API.  If [their IP runs out of API juice](https://github.com/ipfs/ci-status/issues/5#issuecomment-157962836), allow them to oath into github
- deployed to IPFS, available at ci-status.ipfs.io or

[2015-11-19 06:49] harlantwood commented on #6
I think through the exercise of creating the comparison above I have convinced myself that client side:
- is a much better experience for users
- is not significantly harder to implement
- has the same or lower number of moving parts

[2015-11-19 13:33] RichardLitt commented on #5
Could you pull the repo list from the project-directory.md file in ipfs/ifps? That way we could include repositories that aren't in the IPFS organisation, too. And why wouldn't we pull directly from the raw URL for each repo?

Switching to OAuth or just using Basic Auth should work - are we doing more than 5k an hour?

[2015-11-20 07:33] jbenet commented on #6
can maybe cache some of the generated stuff even clientside under some shared ipns space. doubt it will be abused and can always be overridden.

[2015-11-21 05:40] harlantwood commented on #5
We could, certainly.  Not sure we want to though.  Are all repos we point to in that list, even outside of ipfs org, repos that we want/expect to follow our guidelines?  ( There are quite a few already, and likely to be more: https://github.com/ipfs/ci-status/issues/1#issue-115979968 )

Raw URLs or API fetches both work fine, and both are throttled if not logged in.

Nope!  Should be plenty.

[2015-11-21 05:42] harlantwood commented on #6
how can we do that from the client side?  through a gateway?  can you even write to IPNS via gateway?  do you need a private key to do so?

[2015-11-21 06:25] harlantwood opened #7 "User should not see broken image links for repos not yet in Circle CI"
Circle CI now sends 404s for non-existent repos... handle more gracefully in table.

[2015-11-30 21:56] harlantwood commented on #7
seems to have been fixed by Circle

[2015-12-08 00:26] harlantwood opened #8 "subdomain bikeshedding"
OK... about to deploy the first version of the board to

some-subdomain.ipfs.io

What subdomain?  `ci-status.ipfs.io` you say?  That's OK, but it's got a lot more than that in it now, mostly readme information:

http://ipfs.github.io/ci-status/

And more stuff coming soon, like: # of open issues / # of open PRs / # of stars.

To me, `repos.ipfs.io` makes most sense.  Each row is a repo, after all.

[2015-12-08 00:26] harlantwood opened #9 "deploy to project-repos.ipfs.io"
- [x] Push first version to IPNS from CI
  - [x] get repo added to Circle CI #2
- [ ] Pin the IPNS hash (is that a thing?) or the IPFS latest hash (if not) on ipfs.io gateway
  - [x] get access granted so I can pin stuff
- [x] Pass IPNS hash to @lgierth so he can point project-repos.ipfs.io at the IPNS hash
  - [x] bikeshed the subdomain #8
- [ ] Test that it works
- [ ] Test speed.  @jbenet has s

[2015-12-08 01:04] harlantwood commented on #9
@jbenet or someone-- plz grant me access to pin on IRC: harlantwood

[2015-12-08 02:20] jbenet commented on #8
`repos.ipfs.io` may be repos on ipfs. i'd do: `project-repos.ipfs.io` or `ci-status.ipfs.io` or even `code-status.ipfs.io`

[2015-12-08 03:43] harlantwood commented on #9
Thanks @lgierth :smiley:

[2015-12-08 03:56] harlantwood commented on #8
I like `project-repos.ipfs.io` the best of these.  Verbose but clear, and says what it is.

Reasons: lots of our repos are not code, and it's much more than ci-status already.

Going with `project-repos.ipfs.io`.

[2015-12-08 04:06] jbenet commented on #8
sgtm!

On Mon, Dec 7, 2015 at 7:56 PM Harlan T Wood notifications@github.com
wrote:

[2015-12-08 05:15] #8 closed

[2015-12-08 07:54] harlantwood commented on #9
@lgierth will you DNS link:

project-repos.ipfs.io -> /ipns/QmXFSqxMGzQr4UdEbBntsFZgckD9FDHD4gA7Xt6SG8SzTV

[2015-12-08 16:29] harlantwood commented on #2
Done

[2015-12-08 16:29] #2 closed

[2015-12-09 02:12] ghost commented on #9
It's here: https://ipfs.io/ipns/project-repos.ipfs.io -- doesn't resolve (yet?)

I need to figure out why http://project-repos.ipfs.io doesn't work

[2015-12-09 07:17] jbenet commented on #9
Because it's being published once in CI. ipns over a kademlia dht (go-ipfs default) requires republishing

[2015-12-09 09:28] harlantwood commented on #9
Hm, I did a fresh publish to test these, but still neither resolves... Some other issue at play here.

[2015-12-09 09:30] harlantwood commented on #9
To republish, click rebuild on the latest build here: https://circleci.com/gh/ipfs/ci-status

[2015-12-14 20:26] harlantwood opened #16 "rename this repo from "ci-status" to "project-repos""
In https://github.com/ipfs/ci-status/issues/8 we decided to publish this project at project-repos.ipfs.io

Unless there are objections, I will rename this repo from `ci-status` to `project-repos` to match.  Same reasoning, and minimizes confusion.

[2015-12-14 20:54] harlantwood commented on #16
Done; if there are serious objections we can reverse it.

[2015-12-14 20:54] #16 closed

[2015-12-14 21:41] RichardLitt commented on #16
Should we edit the tagline, too?

[2015-12-14 22:04] harlantwood commented on #16
Yes good idea

[2015-12-15 14:42] jbenet commented on #16
SGTM!

On Mon, Dec 14, 2015 at 3:26 PM Harlan T Wood notifications@github.com
wrote:

[2015-12-27 05:56] RichardLitt opened #18 "Change the checks and x's"
So, I am partially colorblind, and the x's and :heavy_check_mark:'s used in the output are really not differentiable enough to get it at a glance. It's very confusing, I think partially because they are small. Can we change it up? Maybe have color the background of each square, so we just have green blocks and red blocks, like it was a heatmap?

[2015-12-28 22:28] harlantwood commented on #18
Sounds good!

[2015-12-28 22:29] RichardLitt commented on #18
Cool. I'll go ahead and do this, don't worry about it.

[2015-12-28 23:07] simonv3 commented on #18
I like how Trello used to do colorblind versions - they seem to have stopped now - colors could have different patterns associated with them. The green blocks and red blocks wouldn't solve the colorblind thing, since so many people are green-red colorblind, but if you gave each block (like a heatmap) a different texture, very subtle visually, that might be a way to go?

Another option is to change

[2015-12-28 23:44] harlantwood commented on #18
Maybe white x on a dark red background, and a black check on a light green
background?

[2015-12-29 21:28] RichardLitt commented on #18
Proposed PR #20 looks like this. I think this works very well.

<img width="1434" alt="screenshot 2015-12-29 16 27 32" src="https://cloud.githubusercontent.com/assets/910753/12042427/2a0f9994-ae49-11e5-822a-6d589cabde05.png">

[2015-12-29 21:29] RichardLitt commented on #18
Tested it on grayscale. Very easy to tell the difference.

[2015-12-29 21:41] RichardLitt opened #21 "Add a list of non-IPFS organization repos to check"
@diasdavid has a ton of repos which could also use this tool, and I'm sure there are others. We could add a list of repos here that could be manually added to to check, as well as the main IPFS org ones.

[2015-12-29 21:42] ghost commented on #21
Yeah jbenet has many too, and there's noffle/ipget

[2015-12-29 21:45] RichardLitt commented on #21
Shall we just start listing them here?

[2015-12-29 23:52] RichardLitt opened #22 "CI Failed"
I pushed a small commit (another freejs -> freenode), and now the CI is failing:

[code]

Is this my fault? Do I need access to the CI to make this work?

[2015-12-30 00:17] harlantwood commented on #18
Very nice :)

[2015-12-30 01:48] #18 closed

[2015-12-30 02:56] harlantwood commented on #7
Reopening, as we see broken image links again...

[2015-12-30 04:30] harlantwood opened #24 "create ipfs-github-bot github user, so we have minimaly permissioned user's keys in circle"

[2015-12-30 04:31] harlantwood commented on #24
looks like we have some similar users, happy to combine these if makes sense

[2015-12-30 04:32] harlantwood commented on #24
emails go to me to get started, happy to redirect to x@ipfs.io

[2015-12-30 04:32] #24 closed

[2015-12-30 04:47] harlantwood opened #25 "some repos don't show up in the project matrix"
eg this very one, `project-repos`... find out why and fix

[2015-12-30 04:51] harlantwood commented on #22
Thanks, should be fixed now, with #24.

[2015-12-30 04:51] #22 closed

[2015-12-30 08:07] harlantwood opened #27 "repoint project-repos.ipfs.io to existing gh pages site"
Deploying to IPNS is currently a lot of work (see #9, #11, https://github.com/ipfs/infrastructure/issues/137 for more details).

@jbenet said in https://github.com/ipfs/project-repos/pull/11#issuecomment-163134826:

Right now, with every push to master, we rebuild this app and deploy to github pages.

Until IPNS is more baked, and perhaps until we have a unified strategy for deploying apps to IPNS

[2015-12-30 08:09] harlantwood commented on #9
For the record, the work on this was in #11

[2015-12-30 08:11] harlantwood commented on #9
Closing in favor of https://github.com/ipfs/project-repos/issues/27

[2015-12-30 08:11] #9 closed

[2015-12-30 08:24] harlantwood commented on #7
Intermittent bug.  Saved the "no builds" svg to:

https://github.com/ipfs/project-repos/blob/31e9c8b7c2463507373ce58bfbd4c07457133400/public/images/circle-ci-no-builds.svg

so we can use that if we get a 404.

[2015-12-30 08:40] harlantwood commented on #21
@jbenet and I discussed this a few months ago on a hangout, and concluded that we should only "enforce" our conventions within the IPFS github organization boundary.  IMO this is a clean separation.  If someone wants they can offer to move their project within our org, or they can always fork the `project-repos` board and run it for their own projects.

[2015-12-30 09:35] harlantwood commented on #25
fixed with #28

[2015-12-30 09:35] #25 closed

[2015-12-30 09:39] harlantwood commented on #25
**Note the project counts at the bottom**

from:

<img width="1440" alt="screenshot 2015-12-30 01 36 43" src="https://cloud.githubusercontent.com/assets/38769/12048928/f73aa9b2-ae95-11e5-9669-e9ee59115bb1.png">

to:

<img width="1440" alt="screenshot 2015-12-30 01 36 57" src="https://cloud.githubusercontent.com/assets/38769/12048936/fdc4015c-ae95-11e5-9c33-7777c255bd69.png">

cc @RichardLitt thoug

[2015-12-30 09:59] harlantwood opened #29 "User scrolling table should see table headings at all times"

[2015-12-30 10:13] harlantwood opened #30 "add column / badge / check for https://ci.appveyor.com/"

[2015-12-30 14:30] RichardLitt commented on #25
Awesome!

Travis and CI aren't needed for some repos, and they are in the list twice. Perhaps we could have a 'Travis not enabled' instead of 'Build unknown'? Would remove two columns we'd no longer need.

[2015-12-30 14:31] RichardLitt commented on #21
Aight.

[2015-12-30 14:31] #21 closed

[2015-12-30 14:37] RichardLitt commented on #22
Thanks!

[2015-12-30 17:56] harlantwood opened #32 "How do we know a project **should** have CI?"
@RichardLitt said in https://github.com/ipfs/project-repos/issues/25#issuecomment-168011391:

The two Travis colums are actually different... One is the build status, and one is whether the Travis badge is in the readme.

Better button text sounds fine, feel free to PR, preferably with similar styling to the buttons, and probably grey color.

Since, as you point out, CI is not needed on all repos,

[2016-01-09 05:51] harlantwood commented on #27
@jbenet will you point the CNAME for
`project-repos.ipfs.io`
to
`ipfs.github.io`?  Discussion above.

I want to get this thing out.  We can do more fancy self hosting later.  Right now it works, and I'd like to point to it at our own subdomain.

[2016-01-09 10:27] jbenet commented on #27
i would, but there's a lot of records on there atm-- @lgierth are we using
any? ok to do the CNAME?

[2016-01-09 21:33] ghost commented on #27
Sorry I totally missed this despite the highlight, sorry -- taking care of it in ipfs/ops-requests#9

[2016-01-10 17:46] #27 closed

[2016-01-10 22:52] harlantwood commented on #27
NP, Next time I'll post to ops-requests.

[2016-01-19 06:05] harlantwood opened #35 "Catch errors"
Currently we get lots of (404) errors in console for missing files on github; we should catch these so the console is not cluttered for developers

[2016-01-19 07:43] harlantwood commented on #29
Fixed with #36 -- preview (for now) at http://harlantwood.github.io/project-repos/

[2016-01-19 07:43] #29 closed

[2016-01-19 07:48] harlantwood commented on #6
Closing, as we are now firmly doing client-side.

[2016-01-19 07:48] #6 closed

[2016-01-20 12:51] RichardLitt commented on #6
Woot. Thanks @harlantwood

[2016-01-21 06:07] harlantwood commented on #3
#37

[2016-01-21 06:07] #3 closed

[2016-01-21 06:07] harlantwood commented on #4
Loads pretty fast, and looks fine now that we have a loading animation in #37, closing.

[2016-01-21 06:07] #4 closed

[2016-01-21 06:11] harlantwood commented on #5
Using raw URLs anonymously is working well.  We also have a counter of remaining github calls.  We run out sometimes in dev, but probably not so much IRL.  Closing, please reopen if experiencing pain around this.

[2016-01-21 06:11] #5 closed

[2016-01-22 04:12] harlantwood opened #38 "Change link in readme to http://project-repos.ipfs.io/"

[2016-01-22 04:15] harlantwood opened #39 "Add links to this status board to community places"
@richardlitt would you like to take this one?  Not sure where exactly, wherever devs go I guess... Community readmes?  Dev info pages?

Link: http://project-repos.ipfs.io/

[2016-01-22 04:15] RichardLitt commented on #39
I can do this.

[2016-01-22 04:55] harlantwood commented on #39
Super, thanks : )

[2016-01-24 13:13] jbenet commented on #4
this looks great, thanks @harlantwood!

On Wed, Jan 20, 2016 at 10:07 PM Harlan T Wood notifications@github.com
wrote:

[2016-01-24 19:03] harlantwood commented on #4
You're welcome!  Yeah I'm getting pretty happy with it :)

[2016-01-28 04:06] harlantwood opened #40 "Detect when github is down and display error message"
Just got endless loading graphic during GH downtime today:

![screenshot 2016-01-27 17 03 09](https://cloud.githubusercontent.com/assets/38769/12634771/6907c5fa-c531-11e5-8b27-4d789cff9f30.png)

[2016-02-03 02:50] jbenet commented on #40
:+1:

[2016-02-03 17:42] RichardLitt commented on #40
Woo!

[2016-03-21 16:55] RichardLitt commented on #39
I think that should be it for now. Sorry about the delay.

[2016-03-21 16:55] #39 closed

[2016-03-22 15:44] harlantwood commented on #39
Awesome thanks @RichardLitt

[2016-05-17 06:08] JJJollyjim opened #53 "Site no longer loads"
There is no response from the server when opening `project-repos.ipfs.io`.

@RichardLitt @harlantwood

    <JJJollyjim> Hey, what's the deal with project-repos.ipfs.io?
    <JJJollyjim> I can't load it
    <jbenet> there's a machine running it, maybe it failed. file an issue and tag @richardlitt and @harlantwood

[2016-05-17 13:15] RichardLitt commented on #53
hmm. That's not good. @harlantwood, any ideas?

[2016-05-18 09:53] harlantwood commented on #53
Strange.  The underlying github pages site http://ipfs.github.io/project-repos/ is not responding.  I'll try to sort it out later this week.

Thanks for the heads up.   Would be good to get alerts when stuff goes down, as a side note

[2016-05-18 21:06] harlantwood commented on #53
Hm.  Seems to be working fine again.  If anyone sees this happen again, please reopen this issue, and ideally get a screenshot with JS console open.  Thanks!

[2016-05-18 21:06] #53 closed

[2016-05-18 21:12] harlantwood commented on #1
There is still work to do in this story.  I added a help wanted tag in case anyone wants to jump in; happy to do some more work myself, and/or help others contribute.

It would be interesting to know:
- what is highest priority of the remaining stories in the checklist above: https://github.com/ipfs/project-repos/issues/1#issue-115979968
- is this page useful to people?  who is using it, how, why?

[2016-05-19 15:39] RichardLitt commented on #1
Definitely more we can do here.

Regarding priority, I'm not sure, because I don't know who is using this. I can use it more to figure out how to keep IPFS repos up to date, but I haven't been doing that enough. Thank you for the reminder. I would like Contribute, patents, and the stars // issue counts.

I don't know the best way to track pageviews; I believe we could use google analytics. @dignif

[2016-06-27 15:34] RichardLitt opened #56 "Site hangs"
Going to http://project-repos.ipfs.io/ doesn't resolve, at the moment. @harlantwood, any ideas?

[2016-06-27 20:51] harlantwood commented on #56
Thanks @RichardLitt ...

Strange, the underlying github pages version is not working either:

https://ipfs.github.io/project-repos

Even though when I push the exact same branch/code to my fork it works:

http://harlantwood.github.io/project-repos/

Have to run, will try to follow up more soon.

[2016-06-28 09:34] RichardLitt commented on #56
That's weird! Anything I can do to help diagnose?

[2016-06-28 11:20] #38 closed

[2016-06-28 11:23] RichardLitt commented on #32
I think you should check for a CI Badge, and leave it at that. There should be a CI badge on all relevant repos, at this point.

[2016-06-28 11:24] RichardLitt commented on #1
@harlantwood Might be a smart idea to split up this issue into a few different issues? It's hard for me to keep track of what is needed and what isn't.

[2016-06-28 11:28] RichardLitt commented on #35
I don't think this is a problem. How many developers are going to have this issue?

[2016-06-28 14:01] dignifiedquire commented on #1
@RichardLitt google analytics is possible, there are others like [mixpanel](https://mixpanel.com/) I like a bit more as it is much easier to get understandable data out of it.

[2016-06-28 16:29] harlantwood commented on #56
My next step is to remove the gh-pages branch on github and recreate with

npm run publish

Feel free to try this if you get to it first

[2016-06-28 16:32] harlantwood commented on #35
Yeah, it's just ugly.  Agree it's low priority.

[2016-06-29 19:44] harlantwood commented on #56
deleted the branch and republished, still no love...

[2016-06-29 19:50] harlantwood commented on #56
Pinged GH support.

[2016-06-29 19:57] RichardLitt commented on #56
Good move. I'm not sure what the problem is, either.

[2016-07-02 23:02] harlantwood commented on #56
Hm, really strange.

Jamie @ Github said:

I said:

Then @danayel replied and said:

But I still see nothing (just hangs), even when going through a proxy like https://www.proxysite.com/ ...

[2016-07-02 23:03] harlantwood commented on #56
Maybe this is a good time to move the site into the same system by which we host our other sites, instead of GH Pages.  @lgierth how could we make that so?

[2016-07-02 23:06] ghost commented on #56
@harlantwood for now, post an issue with a hash to https://github.com/ipfs/ops-requests

How you come up with that hash is your thing :)

[2016-07-04 10:05] RichardLitt commented on #35
I'm not even sure this is possible. https://stackoverflow.com/questions/7035466/check-if-file-exists-but-prevent-404-error-in-console-from-showing-up

[2016-07-04 10:23] RichardLitt commented on #32
Regarding Travis and 'build unknown', Getting a better button seems harder than I expected. For now, let's just leave it as it is.

Rethinking the CI; Do the tests fail if there are no tests set up? Should we test everything?

[2016-07-04 10:24] RichardLitt commented on #30
Which repos use this, at the moment?

[2016-07-04 10:24] RichardLitt commented on #7
I looked into this; it's hard to tell a priori if we're going to get a 404 due to cross browser issues. How would you do this? I am curious.

[2016-07-05 04:13] harlantwood commented on #56
Great, created https://github.com/ipfs/ops-requests/issues/25

[2016-07-05 04:21] harlantwood commented on #35
Fair enough, closing.

[2016-07-05 04:21] #35 closed

[2016-07-05 04:29] harlantwood commented on #32
Probably not.  We have a lot of random repos, eg: https://github.com/ipfs/POST

[2016-07-05 04:34] harlantwood opened #59 "Include all repos (not just 100)"
We have reached the API limit of 100 repos.  We could either:
- do paging, and fetch 100 more repos until none remain, or
- start a blacklist of repos we don't want in this board.

I think we should do the second, as it will anyway clean a ton of noise from the board.  Blacklist example repos would be POST, papers, support, etc...

Why not a whitelist?  We'd like repos to appear in this board by d

[2016-07-05 04:34] harlantwood commented on #30
Hm, no idea, actually.  Do you know @dignifiedquire?  or @whyrusleeping?

[2016-07-05 04:36] harlantwood commented on #7
I suppose we'd make an ajax call for the image; if we got the image, insert an image tag pointing to it, if 404, then insert an image tag pointing to our images/circle-ci-no-builds.svg

[2016-07-05 04:40] harlantwood commented on #1
Looks like we're using google analytics on https://ipfs.io/ ; I'd suggest we use whatever is most "standard" for us already.

[2016-07-05 04:42] harlantwood commented on #1
@RichardLitt I'm open to spinning off into other issues.  Right now it's all in one checklist in the [top comment](https://github.com/ipfs/project-repos/issues/1#issue-115979968).  Feel free to split things out if inspired.

[2016-07-05 09:46] RichardLitt commented on #30
Looks like only go-ipfs. https://github.com/search?q=user%3Aipfs+appveyor&type=Code&utf8=%E2%9C%93

[2016-07-05 09:47] RichardLitt commented on #32
Those can be cleared out by searching for 'discussion repo' badges, which I should have added to all of them.

[2016-07-05 10:44] RichardLitt commented on #7
Found a more elegant solution. See PR.

[2016-07-05 10:45] RichardLitt commented on #59
Any chance we could switch to the blacklist, as needed? So we can show 100 by default, and then have the option to see the rest as needed.

[2016-07-05 12:19] ghost commented on #59
And we should call it allow/denylist, omit/includelist, or something else that makes clear what it's about (black/white does not convey much except for white=do black=don't)

[2016-07-06 05:33] #7 closed

[2016-07-06 05:45] #40 closed

[2016-07-06 06:01] harlantwood commented on #59
@lgierth agreed, "omit" is a nice clear term.

@RichardLitt not sure what you mean, can you clarify?

[2016-07-06 06:03] harlantwood commented on #30
ok, if only one repo, and no serious plans for more, maybe we should ignore and close this issue.

[2016-07-06 06:11] harlantwood opened #62 "if repo not enabled in circle or travis, add direct link to CI settings to enable it"

[2016-07-06 06:11] harlantwood opened #63 "add column: check that readme contains project banner"

[2016-07-06 06:12] harlantwood opened #64 "if something is missing, provide the markdown needed to paste in to the repo to fix"

[2016-07-06 06:13] harlantwood opened #65 "add columns: check for files present"
- [ ] repo has `contribute.md` as well
  - [ ] repo has `LICENSE`
  - [ ] repo has `PATENTS`

[2016-07-06 06:14] harlantwood opened #66 "add columns: Github stats"
- [ ] # of open issues / # of total issues (e.g. 5/12)
- [ ] # of open PRs / # of total issues
- [ ] # of stars

[2016-07-06 06:15] harlantwood commented on #1
I split the remaining items out into their own issues.  Closing this one!

[2016-07-06 06:15] #1 closed

[2016-07-06 09:52] RichardLitt commented on #59
Well, it would be nice if we could intentionally have the board display the items on the omit list. Basically, be default load up the initial 100, but as needed, only load those on the omit list. This allows us to see everything just fine.

[2016-07-06 09:52] #30 closed

[2016-07-06 10:17] RichardLitt commented on #62
Is this really necessary? Would most users of the project-repos dashboard have the ability to enable CI settings? If they don't, then who would use this feature?

[2016-07-06 10:19] RichardLitt commented on #63
Isn't this already done?

[2016-07-06 10:19] RichardLitt commented on #64
Where would you do this?

This might be out of scope for this repository. It would work well with [standard-readme](https://github.com/RichardLitt/standard-readme) though.

[2016-07-06 10:44] jbenet commented on #59
I think we should do paging. We could sort the list by priority. We could also cache results in the network?

[2016-07-06 10:55] RichardLitt commented on #59
Yeah, that's basically what I am suggesting, too. Caching is a smart idea.

[2016-07-06 10:58] RichardLitt opened #70 "Add an initial test"
See if you can check if GitHub is down, for instance, to make #40 happen.

[2016-07-07 04:57] harlantwood commented on #56
Live via IPFS!

[2016-07-07 04:57] #56 closed

[2016-07-07 06:25] Kubuxu opened #71 "Use single type of shield"
In my opinion the list would look much better if it was using single style of shield.

It can be done with: http://shields.io/#styles

[2016-07-07 06:44] harlantwood opened #72 "visually differentiate column groups"
eg Build, Files, Badges

- could be with strong vertical table borders between each section
- could be with colors
- or both

[2016-07-07 06:46] #65 closed

[2016-07-07 07:07] harlantwood commented on #71
Nice, sounds good to me.

[2016-07-07 07:08] harlantwood commented on #70
Go tests!

[2016-07-07 07:10] harlantwood commented on #66
The remaining items would cause a lot of GH API calls (200+ per page load).  Probably the right thing is to cache this info in the IPFS network... (we've discussed this kind of thing before)...

[2016-07-07 07:11] harlantwood commented on #64
Not sure.  Sounds fine to me.  @jbenet requested originally.

[2016-07-07 07:11] harlantwood commented on #63
yup, so it is!

[2016-07-07 07:11] #63 closed

[2016-07-07 07:12] harlantwood commented on #62
This would be for... you 😄

@jbenet requested originally.

[2016-07-07 07:15] harlantwood commented on #59
@jbenet what "priority" would we sort by?

I like the idea of caching all of the data in this board in the network.  I imagine doing that with IPNS.  Last time I tried to do IPNS from CI it did not go well.  Probably the right way to do it is from a box that we control, with a cronjob running hourly or something to pick up changes and publish.

[2016-07-07 09:33] RichardLitt commented on #59
@harlantwood I can give you a list of the top 100. Preferred format?

[2016-07-07 09:34] RichardLitt commented on #62
@haadcode What do you think about this?

[2016-07-07 09:34] #64 closed

[2016-07-07 09:35] RichardLitt commented on #64
I think I will be the main person doing this, and I think there are better ways to do this than to have the markdown suggested here. If anyone can come up with a really nice way of doing this, happy to rethink.

[2016-07-07 09:58] haadcode commented on #62
I have no opinion on this whatsoever. Having learned about the project just yesterday and not being the one who requested it, I'm in no position to make a call whether something is required, needed or otherwise appropriate. Proceed as per the request or escalate to whoever requested the feature in the first place (looks like @jbenet did).

[2016-07-07 12:37] RichardLitt commented on #62
@haadcode I pinged you specifically because you just learned about the project yesterday, and would have an interesting perspective. :P Should have clarified why I did that.

Let's keep this open.

[2016-07-07 16:51] harlantwood opened #74 "Release"
Lots of new awesome.

- [x] npm run publish
- [x] see it in gateway ; grab hash
- [x] pin hash to gareway
- [x] create ops request to release hash

[2016-07-07 17:03] haadcode commented on #66
Feature request: Add a column for latest commit. This is to see when the repo was updated the last time, to provide more information how "active" each repo is.

[2016-07-07 18:04] RichardLitt commented on #66
@haadcode Is that the date, or the commit hash?

[2016-07-07 18:42] haadcode commented on #66
Date with a link to the commit (log?) On GH

[2016-07-07 21:30] harlantwood commented on #66
SGTM

[2016-07-08 08:34] harlantwood commented on #74
Done: https://github.com/ipfs/ops-requests/issues/25#issuecomment-231304745

[2016-07-08 08:34] #74 closed

[2016-07-29 14:11] RichardLitt commented on #32
OK. Can we check for code in a repository using https://github.com/github/linguist, and then automatically disqualify all non-code repositories? Everything else should have CI or Travis, right?

[2016-07-29 14:11] RichardLitt commented on #59
@harlantwood ping.

[2016-07-29 14:30] RichardLitt commented on #32
Or could we just search for a .travis.yml or a circle.yml and leave it up to the project heads to make sure that these exist?

[2016-07-29 14:33] RichardLitt commented on #66
I don't think that having the number of total issues is actually a relevant thing to get, nor the number of total PRs. All this does is show the age of the repository, not the amount of work to do. If the percentage of open issues was compared against the amount of closed issues, per period (week, month, year), we'd have a much better look at whether or not current maintenance efforts are lagging

[2016-07-29 14:34] RichardLitt opened #77 "Show last commit date and link to commit log"
@haadcode in #66:

This should show the date, and the date should be a link to the commit log.

[2016-07-29 15:06] RichardLitt commented on #77
Opened https://github.com/philschatz/octokat.js/issues/107 to help me figure out why I'm getting an empty string instead of a response here. Pushed intermediate code to `feature/77-last-commit`.

[2016-07-29 15:08] RichardLitt commented on #71
Can you describe where you'd like this to be done, @Kubuxu? I'm not following.

[2016-07-29 15:35] RichardLitt commented on #72
Should we just do this in the headers, or all the way down the page?

[2016-07-29 15:36] RichardLitt commented on #70
@dignifiedquire You have a lot of experience in testing. Could you perhaps help me out here? I'm not sure where to start. Any reading material would be ace.

[2016-07-29 18:03] Kubuxu commented on #71
They could be used to have same shields from Travis and Circle and might be used for checkmarks.

[2016-07-29 19:23] dignifiedquire commented on #70
@RichardLitt what kind of tests exactly are you looking for?

[2016-08-01 14:23] RichardLitt commented on #70
Any, in general. I know that testing is important; at the moment, the code for this project doesn't have any tests, and it is brittle. I keep coming against edge cases here and there, which throw off the final product.

One thing to do would be to modularize - for instance, take out the badge checking algorithm - and add tests with all sorts of edge cases for the badges - and then run them so that

[2016-08-01 14:46] dignifiedquire commented on #70
@RichardLitt happy to have a general hangout about things if you want to :)

[2016-08-02 04:32] #62 closed

[2016-08-02 04:57] harlantwood commented on #72
No strong opinion.  It would be cool to do all the way down if we can make it work elegantly, but the headers is probably the most important part.

[2016-08-02 04:59] harlantwood commented on #71
@RichardLitt the build status images from travis and circle are different.  I believe the suggestion is to unify on one set of images.  http://shields.io/#styles shows the URLs to make that work.

[2016-08-02 05:04] harlantwood commented on #66
I get your points @RichardLitt.  Maybe discuss

with @jbenet who suggested them originally.

[2016-08-02 05:06] harlantwood commented on #77
Nice.  Hm, Octokat is usually awesome... 😞

[2016-08-02 05:11] harlantwood commented on #59
If we do paging, then we don't need an omit list.  To clarify, this is paging during the loading of repos, so our current code:

[code]

would change to keep fetching another 100 repos at a time until none remain.

[2016-08-02 05:18] harlantwood commented on #32
👍  this sounds perfect.  Maybe language is in the repo object returned by Octokat?

👎  I don't think so... part of the idea of this project is to watch all the repos and make sure they are all following our guidelines...

[2016-08-02 14:07] RichardLitt commented on #59
Sounds good to me. Do you want to refactor this?

[2016-08-02 14:08] RichardLitt commented on #66
@jbenet Thoughts?

[2016-08-02 14:18] RichardLitt commented on #32
Boom! It looks like that is in the language object returned by Octokat. For `https://api.github.com/repos/ipfs/ipfs`, it shows `language: null` - same for ipfs/pm, ipfs/apps. For anything with code on it, it shows the main language of code. I think we can assume that if there is a language, it should have code, and it should have CI.

We should also check in case there is a .travis.yml or circle.y

[2016-08-03 06:11] harlantwood commented on #59
Fixed in #79

[2016-08-03 06:11] #59 closed

[2016-08-03 06:16] harlantwood commented on #32
Awesome.  So if no CI is found, we leave the CI column blank for language=>null repos, but put a "CI missing" badge in if language=>something.

[2016-08-03 06:28] harlantwood opened #80 "deploy"
@RichardLitt would you care to manage a deploy?  would be good to have someone else try it:

1. have an ipfs daemon running
1. npm install && npm prune
1. npm run publish # this should open the published page on the gateway
1. pin the hash
1. post to https://github.com/ipfs/ops-requests/issues

We should probably add these instructions to the readme as well...

[2016-08-03 14:43] RichardLitt opened #82 "GitHub Authentication"
Is there any possibility we can have users authenticate, with GitHub, and then user their authentication token to hit the API? I am super tired of hitting rate limits.

[2016-08-03 14:43] RichardLitt commented on #80
Sure. Should I deploy it now?

[2016-08-03 15:33] whyrusleeping commented on #82
This might be relevant: https://tectonic.com/quay-enterprise/docs/latest/github-app.html

[2016-08-03 18:03] Kubuxu commented on #82
Friend of mine was using GitHub OAuth for registration of users, using it to get API access might be very similar.

@magik6k do you have guide or documentation you used on hand?

[2016-08-03 18:34] harlantwood commented on #80
I suggest merging the outstanding PRs first, manually sanity checking,  then yes

[2016-08-03 20:36] magik6k commented on #82
@Kubuxu Just GH developer docs: https://developer.github.com/v3/

[2016-08-04 20:40] RichardLitt commented on #82
@harlantwood What do you think about this?

[2016-08-05 06:20] harlantwood commented on #82
Hm, probably not an issue for most users, but definitely an issue for devs.

Here is the super simple dev hack I used previously...

https://github.com/ipfs/project-repos/commit/008cf68e3514ea98ea259907d1c55167671f6203

Just uncomment either username /password and you will get lots more calls than anon access ...

Allowing github auth would be great, but I wouldn't want to require it.   It may not

[2016-08-06 07:19] harlantwood commented on #82
@richardlitt ^^^

[2016-08-06 07:31] harlantwood opened #83 "Add related github orgs' repos"
https://github.com/libp2p
https://github.com/multiformats
https://github.com/ipld

An other orgs that should be included?

[2016-08-06 15:51] RichardLitt commented on #83
Yes!

github.com/multiformats
github.com/ipld

[2016-08-06 15:51] RichardLitt commented on #82
Saw this. Awesome - I will use this from now on, then.

[2016-08-06 15:51] #82 closed

[2016-08-06 16:40] harlantwood commented on #83
Great, added to the list.

[2016-08-06 17:53] harlantwood opened #84 "Enable sorting by build status"
Clicking sort on the build status column doesn't work.  Probably easy to fix, maybe add a data-* attribute to the table cell?  Check jquery datatable docs...

[2016-08-07 20:04] harlantwood commented on #70
began work on testing branch.  not working as yet, need to pull it apart a bit more.  WIP here: https://github.com/ipfs/project-repos/tree/chore/test

[2016-08-08 03:36] #83 closed

[2016-08-08 18:10] harlantwood commented on #71
@RichardLitt I've got this in progress as a happy side effect of #84, ok if I take it over?

[2016-08-08 18:49] RichardLitt commented on #71
No problem! I assign stuff to me saying I'm happy to do it, but of course if you want to that's awesome. :)

[2016-08-09 05:54] harlantwood opened #88 "`npm run dev` should pick up githbub username/pwd from ENV variables if present, for better API access"
for context see also #82, #86.

[2016-08-10 06:35] harlantwood commented on #70
My plan is to refactor into a few classes, which can be tested separately.  Likely:

-

[2016-08-10 06:39] harlantwood commented on #70
My plan is to refactor into a few classes, which can be tested separately.  Likely:
- `Repo` which wraps the octokat repo and adds methods
- `RepoMatrix` which makes a table from Repos
- `App` which adds the waiting spinner, jquery datatable, etc

[2016-08-10 06:52] harlantwood commented on #80
@richardlitt do you have bandwidth for this at the moment?  If not I can take this one.

[2016-08-10 15:58] RichardLitt commented on #80
See https://github.com/ipfs/ops-requests/issues/28. :)

[2016-08-11 03:13] RichardLitt opened #90 "Add code coverage"
See https://github.com/ipfs/go-ipfs/issues/3053#issuecomment-239061371.

[2016-08-15 17:06] harlantwood opened #92 "Speed up loading"
Loading is sloooooow

My suggestion: Append a row for each repo as soon as we have the list of repos; fill in the details as Ajax calls come back.

Other ideas welcome.

[2016-08-15 17:08] harlantwood commented on #90
+1

[2016-08-17 17:27] RichardLitt commented on #92
Use a different framework to interact with the DOM? React?

[2016-08-18 03:19] jbenet commented on #92
@harlantwood sounds good to me.

@richardlitt I think it's a network problem not DOM loading
On Wed, Aug 17, 2016 at 13:27 Richard Littauer notifications@github.com
wrote:

[2016-08-22 01:42] jbenet commented on #62
Thank you! Yeah I wanted this to make it super fast to do this.
On Tue, Aug 2, 2016 at 00:32 Harlan T Wood notifications@github.com wrote:

[2016-10-10 14:43] RichardLitt opened #93 "Add orbit repositories"
There are a lot of repositories over at @haadcode that would be great to add to project-repos: for instance, haadcode/orbit and haadcode/orbit-db. We should add these to this. I need a subset of @haadcode's repos, though; will look for that and link it here.

[2016-10-14 14:34] RichardLitt opened #94 "Menu disappears prematurely before end of page"
### What

The floating menu floats for most of the projects, but towards the last 10% of the page it stops. It should remain all the way to the bottom.

[2016-10-25 21:03] harlantwood opened #95 "Project status"
Update: I don't have much bandwidth for this project these days, but happy to help with anything critical, and/or help transition knowledge to new maintainers.

cc @RichardLitt

[2016-10-26 13:44] RichardLitt commented on #95
Thanks for updating me, @harlantwood. :) I will be working on this more this quarter. I'm not sure I need much more knowledge to maintain this.

[2016-10-31 17:16] harlantwood commented on #95
Excellent.

[2016-11-01 11:56] haadcode commented on #93
Repositories that belong to "Orbit project" are https://github.com/haadcode/labels-and-milestones/blob/master/config.yml#L1

[2016-11-11 06:49] RichardLitt commented on #93
Thanks. See PR #96.

[2016-11-12 02:32] #93 closed

[2016-11-18 15:39] RichardLitt opened #98 "Show issues and pull requests"
This should show the amount of open issues and Pull Requests for each repository, in a second two columns.

[2016-11-18 15:39] RichardLitt commented on #95
Let's close this as I've got it and it isn't actionable. Thanks again, @harlantwood.

[2016-11-18 15:39] #95 closed

[2016-12-13 17:51] RichardLitt opened #99 "Remove Contribute Requirement"
Only the main repositories need to have a contribute document - ipfs/ipfs, ipld/ipld, and so on. Instead, each Contribute section should also link to the Contribute document on the main repo. We should add an option to do a RegExp for this link in the README.

[2016-12-15 19:41] RichardLitt opened #101 "Add filters"
Would be good to be able to filter by certain projects

[2016-12-15 19:41] RichardLitt opened #102 "Add caching"
You shouldn't have to hit the server every time.

[2016-12-15 19:43] Kubuxu commented on #90
We use currently two coverage report providers, coveralls and codecov. Many of our current repos (especialy js) use coveralls but codecov has superior UX and UI, transition would be trival.

[2016-12-15 21:10] RichardLitt commented on #90
@Kubuxu Cool. What should I add? The badge?

[2016-12-15 21:17] Kubuxu commented on #90
I think it badge which links to the project's page would be ok.

[2016-12-16 20:55] RichardLitt commented on #90
Cool. And that is for all go-* and js-* repos, right?

[2016-12-16 20:59] Kubuxu commented on #90
Not all of them have coverage reports yet but yes.

[2016-12-16 21:06] RichardLitt commented on #90
Ok. Can you point to one example of the badge? I'm not seeing it on go-ipfs; is it being used elsewhere atm?

[2016-12-16 21:09] RichardLitt commented on #90
Or is this it:

[code]
I'll add the second (codecov) and open an issue about switching; that work for you? Where should I point questions about that - I don't see an issue in ipfs/community about the switch. Where is that discussion happening?

[2016-12-16 21:22] Kubuxu commented on #90
There was no discussion yet, I will start issue in community.

[2016-12-19 17:48] Kubuxu commented on #90
I like this style of badges a lot: ![](https://img.shields.io/codecov/c/github/ipfs/go-ipfs.svg?style=flat-square)

We could use the same style of icons from shields.io for Travis, Circle and the normal task: ![](https://img.shields.io/badge/readme-%E2%9C%93-green.svg?style=flat-square)

[2016-12-26 18:27] RichardLitt commented on #90
In that case, I will start looking for or adding:

[code]

![CodeCov](https://img.shields.io/codecov/c/github/ipfs/go-ipfs.svg?style=flat-square)
[![Travis CI](https://travis-ci.org/ipfs/go-ipld-node.svg?branch=master)](https://img.shields.io/travis/ipfs/go-ipld-node.svg)

To every IPFS repo.

[2016-12-26 18:38] Kubuxu opened #103 "Unify shields type"
Each service provider uses a bit different shield type, we can unify them to be all from shields.io and to look the same, this might be more of an issues to standard readme, but I am not sure.

https://img.shields.io/codecov/c/github/ipfs/go-ipfs.svg?style=flat-square

![CodeCov](https://img.shields.io/codecov/c/github/ipfs/go-ipfs.svg?style=flat-square)

[2016-12-26 18:39] Kubuxu commented on #90
We should probably make the coverage shield clickable.

[2016-12-26 18:47] RichardLitt commented on #90
[code]

[![codecov.io](https://img.shields.io/codecov/c/github/ipfs/go-ipfs.svg?style=flat-square&branch=master)](https://codecov.io/github/ipfs/go-ipfs?branch=master)
[![Travis CI](https://img.shields.io/travis/ipfs/go-ipld-node.svg?branch=master&style=flat-square)](https://travis-ci.org/ipfs/go-ipld-node/)

Look better?

[2016-12-26 18:48] RichardLitt commented on #103
This issue belongs here.

I agree about unifying shield type. Let's make them all flat-square, makes it easier, and use shields.io for all of them.

[2016-12-27 23:06] RichardLitt opened #105 "Refactor conditional README items"
This section:

[code]

Should include the checks currently here:

[code]

[2016-12-27 23:10] RichardLitt opened #106 "Project should match project"
The project badge is not always IPFS, but occasionally multiformats, libp2p, or IPLD. This should be allowed in the checks.

[2016-12-27 23:11] RichardLitt opened #107 "Check validity of links"
I've been using [awesome_bot](https://github.com/dkhamsing/awesome_bot) to check links in the CLI, but we should also have a check if all links pass. We can, of course, allow some redirects (like the aws ones), and some dupes, but overall, there should be no broken links in a README.

[2017-01-07 00:39] #98 closed

[2017-01-17 14:58] RichardLitt opened #109 "Unable to run project"
I am getting an issue when trying to load this project by running `npm run dev`. It seems to go a bit back further than what is deployed, so I think it is an issue with a dep or my node version. Currently trying to figure it out.

[2017-01-17 15:01] RichardLitt commented on #109
[code]

[2017-01-17 17:27] RichardLitt commented on #109
@harlantwood I narrowed it down. Unfortunately, it looks like your commit https://github.com/ipfs/project-repos/commit/07061a1009475752739eb9dcf1b69fe23db35e84 broke the build, AFAIK - lightsaber 0.6.6 doesn't work as well as 0.5.1. Can you fix lightsaber and update this?

[2017-01-17 18:43] harlantwood commented on #109
Sorry to hear that!  I'll take a look as soon as I can, but it might be a few days.  Alternatingly, you could just remove lightsaber, and replace its`log` with `console.log`.

[2017-01-17 18:43] RichardLitt commented on #109
SGTM. I've got a workaround at the moment (using an old version), and will merge that as needed.

[2017-01-19 15:11] #99 closed

[2017-01-26 17:25] RichardLitt commented on #102
Current plan: Set up an Node Express Restful API with caching that matches the GitHub API endpoints we hit, and only poll them every hour or so, authenticated like. Working on this.

[2017-03-16 14:32] RichardLitt commented on #109
Cannot replicate on live.

[2017-03-16 14:32] #109 closed

[2017-03-16 14:33] RichardLitt opened #112 "Allow users as well as orgs for all users"
This will help: https://github.com/RichardLitt/is-github-user-or-org

[2017-03-16 14:34] RichardLitt opened #113 "Work with the 30pm GitHub API Search throttle"
Right now, this blocks us checking PRs, because it throws an error and blocks the entire build. Instead, we should allow this to search over time, or on demand.

[2017-03-16 15:07] #112 closed

[2017-03-16 15:08] RichardLitt opened #114 "Remove toString for counts It breaks the sorting, and they should be rendered as ints anyway"

[2017-03-16 15:08] RichardLitt opened #115 "Remove toString for counts It breaks the sorting, and they should be rendered as ints anyway"

[2017-03-16 15:08] RichardLitt commented on #115
Dupe of #114.

[2017-03-16 15:08] #115 closed

[2017-03-16 15:17] RichardLitt opened #116 "Get rid of Coffeescript"
I think this makes the platform less extensible, less likely to be worked on by other contributors, and more confusing for me.

@harlantwood Are you very attached to coffeescript?

[2017-03-20 01:30] harlantwood commented on #116
Not at all!  Happy to see it go es6+

[2017-03-20 01:36] harlantwood commented on #102
Nice!  Is there code to look at for this?

[2017-03-20 01:37] harlantwood commented on #101
Probably pretty easy via jquery table...

[2017-03-20 16:57] RichardLitt commented on #116
Sweet. Ok then! That makes this a bit easier.

[2017-03-20 16:57] RichardLitt commented on #102
Ach, I think I deleted it at some point by accident. Going to have to redo it. Will link here.

[2017-07-16 08:44] thisconnect opened #117 "add missing repos"
this seems useful, is it still used?

js-ipfs is missing and many more. Which ones should be added?

I assume all `ipfs/go-*` and `ipfs/js-*` repos or also ipld, libp2p?

[2017-07-16 17:48] RichardLitt commented on #117
Probably in hiatus. I haven't touched this code in a while, and I'm not sure that anyone is currently interested in maintaining it.

[2017-10-12 09:18] jviotti opened #118 "Re-using this project on resin.io"
Hi guys, I'm Juan Cruz Viotti from [resin.io](resin.io).

We've been building a dashboard to evaluate the health of our numerous GitHub repositories, and found this awesome project, which was exactly what we're trying to achieve. We have some more "checks" we would like to add, so I'd love to discuss how we can contribute back, so you can hopefully benefit from our improvements as well! These are

[2018-03-12 22:35] harlantwood opened #119 "Why is this no longer used for IPFS repos?"
For a while this was building all IPFS and mutiformats etc repos.  Now it's mostly just building Orbit repos.  Why?

This changed in 0ee5df8ff611f86183a6be0d93a3176ac51450fa.  @richardlitt was this intentional to cut out most repos?  The comment doesn't seem to reflect that intention.

@richardlitt in #117 you said "I'm not sure that anyone is currently interested in maintaining it."

I'm curious

[2018-03-12 22:41] harlantwood commented on #118
Sorry for the delay, just seeing this now.

I recommend forking, as this project is not very active. Certainly, use freely!  Happy to have it in use.  Interested to see what you build -- or by now have already built!

[2018-03-13 16:51] RichardLitt commented on #118
Don't apologize, @harlantwood - the fault for not responding to this lies with me! I should have responded sooner, but this fell off of my radar, too.

Of course, you can fork. Please do!

I forked it, myself, and iterated on it quite a bit. You can see that fork, here: [mntnr/dashboard](https://github.com/mntnr/dashboard). The main reasons I forked it were because I wanted to switch to JavaScript

[2018-03-13 16:54] RichardLitt commented on #119
As I said on https://github.com/ipfs/project-repos/issues/118#issuecomment-372737024, I'm sorry for dropping the ball on this repo, @harlantwood.

It is only using Orbit repos because I was being hit repeatedly by API limits that were incredibly annoying. Limiting it to Orbit was a good way of keeping those down, as it is a small, JavaScript-heavy org.

I don't think anything went wrong with the c

[2018-03-15 07:19] harlantwood commented on #119
Thanks for the update Richard.  https://github.com/mntnr/dashboard looks good!  Glad to see this project live on in some form.

Makes sense about API limits.  Has the mntnr version solved that problem?

[2018-03-15 14:24] RichardLitt commented on #119
Yes, there's been significant improvements. I was hoping to work in more GraphQL stuff, but as it is, it is a more lean version.

[2018-04-09 10:23] harlantwood commented on #118
Hi @jviotti curious if you made progress with this or your own version.

FYI I have started a (currently toy level) server-side Elixir version here: https://github.com/harlantwood/matrix

My intention with going server-side is go get around API rate limiting with smart throttling and caching.  No promises; currently it is just a good way for me to learn Elixir.

[2018-04-12 16:57] jviotti commented on #118
Hi everyone,

Thanks for the response and sorry for the late response (I took a long vacation). We did some progress on this front, but not much. We've been working on a more generic module to "interrogate" a repo for certain things (https://github.com/resin-io-modules/scrutinizer), and I'd love to extend it to cover the things that you're checking for in this repo.

We're piping this data to an i

[2018-04-25 12:47] VictorBjelkholm opened #120 "To deprecate or Not: what information is useful for a dashboard"
Raising this issue as ipfs/project-repos has not got a lot of attention and not a lot of usage so far. We should decide if we want to improve it enough to become useful, or deprecate it instead.

First question to solve is what information we want to get from a project-wide dashboard. Currently, the website is showing the following columns:
- TravisCI status (will soon be deprecated)
- CircleCI st

[2018-04-30 19:13] warpfork commented on #120
When I'm checking in on a project, I've often valued getting quick impressions of how much work is "in flight", because that affects how I'll plan and who I'll communicate with when considering larger refactors or other changes likely to generate conflicts (e.g. upgrading dependencies).  Thus, some quick scores for "how many PRs are open?  How many branches?  How far diverged?" would be really awe

[2018-04-30 19:23] warpfork commented on #120
For what it's worth, I like the README, PATENTS, and LICENSE checks.  I agree with questioning whether they deserve as much screen real-estate as they currently get, but I like them being *somewhere*.  An aggregate "matches project standards" would perhaps be sufficient?

It's also interesting to note those README, etc checks seem to belong to a category of linters that can be run pretty low frequ

[2018-05-01 14:11] RichardLitt commented on #120
day?

As far as I know, daily inspection wasn't the goal of project-dashboards. It was for routine inspection on the level of documentation. If you want daily inspection, this tool should be forked and most of the fields removed as irrelevant.

[2018-07-09 20:42] RichardLitt commented on #77
I am unlikely to get to this soon. I would suggest unassigning this and labeling at as 'help wanted'.

[2018-11-06 07:23] daviddias commented on #120
@ipfs/community-wg putting the Project `project-repos` on your radar.